{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="{% static 'auth/vendors/feather/feather.css' %}">
<link rel="stylesheet" href="{% static 'auth/vendors/ti-icons/css/themify-icons.css' %}">
<link rel="stylesheet" href="{% static 'auth/vendors/css/vendor.bundle.base.css' %}">
<link rel="stylesheet" href="{% static 'auth/vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'auth/js/select.dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'auth/css/vertical-layout-light/style.css' %}">
<link href="{% static 'img/kadlogo.png' %}" rel="icon">