{% load static %}
<script src="{% static 'auth/vendors/js/vendor.bundle.base.js' %}"></script>
<script src="{% static 'auth/vendors/chart.js/Chart.min.js' %}"></script>
<!-- <script src="{% static 'auth/vendors/datatables.net/jquery.dataTables.js' %}"></script> -->
<script src="{% static 'auth/vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'auth/js/dataTables.select.min.js' %}"></script>
<script src="{% static 'auth/js/off-canvas.js' %}"></script>
<script src="{% static 'auth/js/hoverable-collapse.js' %}"></script>
<script src="{% static 'auth/js/template.js' %}"></script>
<script src="{% static 'auth/js/settings.js' %}"></script>
<script src="{% static 'auth/js/todolist.js' %}"></script>
<script src="{% static 'auth/js/dashboard.js' %}"></script>
<script src="{% static 'js/htmx.min.js' %}"></script>
<script src="{% static 'auth/js/Chart.roundedBarCharts.js' %}"></script>
<script>
    window.setTimeout(function() {
    $(".alert").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove();
    });
}, 2000);
</script>