<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'auth:dashboard' %}">
          <i class="icon-grid menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
          <i class="icon-columns menu-icon"></i>
          <span class="menu-title">Admin Account</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url 'auth:create_admin' %}">Create</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'auth:manage_admin' %}">Manage</a></li>
          </ul>
        </div>
      </li>

      <!-- <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
          <i class="icon-contract menu-icon"></i>
          <span class="menu-title">Payments</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="form-elements">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html">View</a></li>
          </ul>
        </div>
      </li> -->

      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#form-elementss" aria-expanded="false" aria-controls="form-elements">
          <i class="icon-bar-graph menu-icon"></i>
          <span class="menu-title">Organizations</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="form-elementss">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"><a class="nav-link" href="{% url 'auth:create_org' %}">Register</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'auth:manage_org' %}">Manage</a></li>
          </ul>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#form-elementssss" aria-expanded="false" aria-controls="form-elements">
          <i class="icon-layout menu-icon"></i>
          <span class="menu-title">Results</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="form-elementssss">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"><a class="nav-link" href="{% url 'auth:upload_result' %}">Upload</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'auth:manage_result' %}">Manage</a></li>
            <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html">Verify</a></li>
          </ul>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'auth:profile' request.user.pk %}">
          <i class="icon-head menu-icon"></i>
          <span class="menu-title">Profile</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"  style="cursor: pointer;" data-toggle="modal" data-target="#basicModal">
          <i class="icon-paper menu-icon"></i>
          Logout
        </a>
      </li>


    </ul>
</nav>